<section class="container">
    <h2>Cupom Natal de Luz e Prêmios</h2>
      <div class="row">
        <article class="card fl-left">
          <section class="date">
            <time>
              <h4>{{ticket.codigo}}</h4>
            </time>
          </section>
          <section class="card-cont">
            <small>CPF: {{cpf}}</small>
            <h3>{{nome}}</h3>
            <div class="even-date">
             <i class="fa fa-calendar"></i>
             <time>
               <span>sexta-feira 25 de dezembro de 2022</span>
               <span>08:55am</span>
             </time>
            </div>
            <div class="even-info">
              <i class="fa fa-map-marker"></i>
              <p>
                {{local}}
              </p>
            </div>
            <a href="#">Validar</a>
          </section>
        </article>
        <article class="card fl-left">
        </article>
      </div>
    </div>