{% extends "mobile.html" %}


{% block title %}Alterar sua senha{% endblock %}

{% block content %}
    <h1 style="margin-top: 70px;">Alterar sua senha</h1>
    {% if validlink %}
        <p>Por favor insira sua nova senha duas vezes:</p>
        <form action="." method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->

            {% bootstrap_form form layout='vertical' %}
            
            <p><input type="submit" class="btn btn-primary btn-lg" value="Alterar minha senha" /></p>
        </form>
    {% else %}
    <p>Seu link de alteração de senha pode estar inválido, possivelmente porque já foi utilizado. Por favor, solicite uma nova alteração de senha.</p>
    {% endif %}
{% endblock %}
